argon2-cffi==20.1.0
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
blessings==1.7
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.12
cloudpickle==2.0.0
cycler==0.11.0
cytoolz==0.11.0
dask==2021.3.0
dataclasses==0.8
decorator==5.1.1
DeepKnockoffs==0.1.0
defusedxml==0.7.1
entrypoints==0.3
et-xmlfile==1.1.0
gpustat==0.6.0
idna==3.3
imageio==2.9.0
imutils==0.5.4
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==3.0.2
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.2
jsonschema==3.0.2
jupyter-client==7.1.2
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
nb-conda==2.2.1
nb-conda-kernels==2.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
notebook==6.4.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.9
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.2
prometheus-client==0.13.1
prompt-toolkit==3.0.20
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.4
pyrsistent==0.17.3
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
requests==2.27.1
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.2
Send2Trash==1.8.0
setuptools==58.0.4
six==1.16.0
tensorboard-logger==0.1.0
terminado==0.9.4
testpath==0.5.0
thop==0.0.31.post2005241907
threadpoolctl==3.1.0
tifffile==2020.10.1
toolz==0.11.2
torch==1.9.0+cu111
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.10.0+cu111
tornado==6.1
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.8
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
wheel==0.37.1
xlrd==2.0.1
xlwt==1.3.0
